{% set assetHash = global.random() %}
{% set pageTitle = title + ' - ' + site.name %}

{# We don't want any duplication. This is likely for the homepage #}
{% if site.name === title %}
{% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}


{# If the page’s frontmatter has specific metaTitle and/or metaDesc items, switch
them into the mix #}
{% if metaTitle %}
{% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
{% set metaDesc = summary %}
{% endif %}

<!DOCTYPE html>
<html lang="en" data-user-color-scheme="" class="no-js">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ pageTitle }}</title>

<link rel="preload" type="font/woff2" href="/fonts/bwaletano10-light.woff2" as="font" crossorigin=""/>
<link rel="preload" type="font/woff2" href="/fonts/bwaletano10-regular.woff2" as="font" crossorigin=""/>
<link rel="preload" type="font/woff2" href="/fonts/bwaletano10-medium.woff2" as="font" crossorigin=""/>
<link rel="preload" type="font/woff2" href="/fonts/bwaletano10-bold.woff2" as="font" crossorigin=""/>
<style>
{% include "css/critical.css"%}
</style>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fcd872">

<meta name="author" content="Abergele Dental Surgery" />
<meta name="description" content="We deliver routine dental and restorative treatments and take enormous pride in the care we offerour patients." />
<meta name="robots" content="index, follow, noodp" />

<meta property="og:type" content="article" />
<meta property="article:author" content="Abergele Dental Surgery" />
<meta property="og:description" content="We deliver routine dental and restorative treatments and take enormous pride in the care we offerour patients." />

<meta name="apple-mobile-web-app-title" content="Abergele Dental" />
<meta name="msapplication-TileColor" content="#fcd872" />
<meta name="theme-color" content="#64899b" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#fcd872">

<link rel="manifest" href="/site.webmanifest" />
<link rel="canonical" href="https://www.abergeledental.co.uk/">
<script>
theme = localStorage.getItem("theme");
if (theme) {
document.querySelector('html').setAttribute('data-user-color-scheme', theme);
}
</script>
</head>

<body id="abergele-dental">
{% include "partials/announcement.html" %}
{% include "partials/site-head.html" %}
{% block content %}{% endblock %}
{% include "partials/site-footer.html" %}
</div>
{% include "js/scripts.js" %}
{% include "js/instant-page.5.1.0.min.js" %}
</body>

</html>