{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}
<div class="grid-death">

<div>
<h1><span class="sr-only">Complaints</span>
{% include "partials/_headline-complaints.svg" %}</h1>

<p class="secondary"><b>Last updated</b> September 2022</p>

<p class="secondary">Should you wish to complain about any aspect of our service, we aim to acknowledge your complaint within three working days. We will notify you when an investigation has been completed and let you know the outcome. A full copy of our complaints policy is on display in our waiting rooms and you can collect a copy from our reception.</p>

<h3>NHS Putting Things Right</h3>
<p class="secondary">03000 851234 or <u>BCU.ComplaintsTeam@wales.nhs.uk</u></p>

<h3>HIW</h3>
<p class="secondary">0300 062 8163 or hiw@gov.wales</p>

<h3>GDC (private dentistry)</h3>
<p class="secondary">020 7167 6000 or <u>information@gdc-org.uk</u>. Our GDC registration number is 291996.</p>

<hr>

<h3>Cancellations</h3>

<p class="secondary">We require 24 hours notice of a cancellation. Failure to notify us may result in an extra charge or even termination of your service. Repeatedly missing or cancelling appointments may mean we&#8217;re no longer able to offer you further appointments. We refuse to treat patients who are abusive, violent, or who fail to pay bills on time.</p>

<h3>Confidentiality</h3>

<p class="secondary">We ask patients to complete a medical history form at regular intervals. This helps us formulate an appropriate treatment plan for you. We take patient confidentiality seriously and all personal information is treated in the strictest confidence. Only staff members have access to patient information. A full copy of our confidentiality policy is on display in our waiting rooms and you can collect a copy from our reception.</p>

</div><!-- one -->

<div>
{% include "partials/_img-article-1.svg" %}
</div><!-- two -->

<div>
<h3><span class="sr-only">About us</span>
{% include "partials/_text-about.svg" %}</h3>
{% include "partials/_snippet-about.html" %}

<blockquote>
<p>Thank you so much for your compassion and care following my accident.</p>
<b aria-hidden="true">{% include "partials/_icon-quote.svg" %}</b>
</blockquote>

</div><!-- three -->

</div><!-- grid -->
{% endblock %}