{% extends "layouts/base.html" %}

{% block content %}
<div class="grid-anderson">

<div>

<h1><span class="sr-only">Contact</span>
{% include "partials/_headline-contact.svg" %}</h1>

<p>Thank you for contacting Abergele Dental. We&#8217;ll get in touch soon with an answer to your question.</p>

<p>Out-of-hours emergencies <a href="tel:07584353790" title="Press to call">07584 353790</a>. Call out fee: &#163;185</p>
<p>{{ site.availability }}</p>
<p><a href="mailto:info@abergeledental.co.uk" title="Email">info@abergeledental.co.uk</a></p>

</div><!-- one -->

<div>
</div><!-- two -->

</div><!-- grid -->

{% endblock %}